li {
  padding: 5px;
  margin: 5px;
  background: darkkhaki;
}
.burger-button{
  width: 300px;
  height:30px;
  margin: 10px;
}

/*.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
*/
.col-md-6 {
	border: 2px black solid;
  border-radius: 20px;
  background-color: blanchedalmond;
}

.row {
  border: 2px black solid;
  border-radius: 20px;
  background-color: khaki;
}

.jumbotron {
    margin-bottom: 0px;
    background-image: url(../img/burger.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: gold;
    text-shadow: black 0.3em 0.3em 0.3em;
}